@model Microgreens.Models.SowRatesL

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visitors</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SowWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SowWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TraysPerPack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TraysPerPack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerTray)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CostPerTray)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SowRatesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
